body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
[contenteditable='true'] {
  -webkit-user-select: text;
  user-select: text;
} */

.XMLInput {
  max-height: 90vh;
  /* overflow-y: auto; */
}

.CodeMirror {
  min-height: 520px;
}
